{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

{{ form(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Director</th>
                <th>Description</th>
                <th>Releasedate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.releasedate }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{# display pagination #}
<div class="navigation">
    {{ knp_pagination_render(pagination,'bundles/KnpPaginatorBundle/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
        'align': 'center'
    }) }}
</div>

    <a href="{{ path('app_movie_new') }}">Create new</a>
{% endblock %}
